<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
</head>
<body>
<form action="http://localhost:3000/signup" method="POST">
    <h1 align="center">Мы тебя не смогли найти :( </h1>
    <h2>Попробуй повторить вход ← или зарегистрируйся ↓</h2>
    <h3>Имя пользователя</h3>
    <label>
        <input type="text" name="username" size="40"/>
    </label>
    <h3>Пароль</h3>
    <label>
        <input type="text" name="password" size="40"/>
    </label>
    <input name="register_submit" type="submit" value="Зарегистрироваться" />
</form>
<hr>
{{> footer}}
</body>
</html>