<h1 align="center"> Вход выполнен успешно, мой дорогой пользователь! ;) </h1>
<p> <h2>Выбери номер задания и следуй инструкции </h2> <p>
<h3>1.Функция декапитализации первой буквы строки:</h3> <em>http://localhost:3000/api/GoncharovaAnastasia/lab1/task1<p> </em>
<h3>2. Функция проверки на целое число:</h3> <p>Если ты не фейк, докажи это <em>http://localhost:3000/api/GoncharovaAnastasia/lab1/task2/authentication</em></p>
<h3>3. Функция, чтобы найти первый неповторяющийся символ в строке:</h3> <p>Если ты не фейк, докажи это <em>http://localhost:3000/api/GoncharovaAnastasia/lab1/task3/authentication</em></p>
