<!DOCTYPE html>
<html>
<head>
    <title>Задание №2</title>
    <meta charset="utf-8" />
</head>
<body>
<form action="http://localhost:3000/api/GoncharovaAnastasia/lab1/task2/result" method ="GET">
    {{> task}}
    <hr>
    {{> footer}}
</form>
</body>
<html>